@model BoxApplication.Models.BoxUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BoxUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BoxID" />
            <div class="form-group">
                <label asp-for="BoxADForeignKey" class="control-label"></label>
                <select asp-for="BoxADForeignKey" class="form-control" asp-items="ViewBag.BoxADForeignKey"></select>
                <span asp-validation-for="BoxADForeignKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxName" class="control-label"></label>
                <input asp-for="BoxName" class="form-control" />
                <span asp-validation-for="BoxName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxLogin" class="control-label"></label>
                <input asp-for="BoxLogin" class="form-control" />
                <span asp-validation-for="BoxLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxSpaceUsed" class="control-label"></label>
                <input asp-for="BoxSpaceUsed" class="form-control" />
                <span asp-validation-for="BoxSpaceUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxStatus" class="control-label"></label>
                <input asp-for="BoxStatus" class="form-control" />
                <span asp-validation-for="BoxStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxDateCreated" class="control-label"></label>
                <input asp-for="BoxDateCreated" class="form-control" />
                <span asp-validation-for="BoxDateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxDateModified" class="control-label"></label>
                <input asp-for="BoxDateModified" class="form-control" />
                <span asp-validation-for="BoxDateModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
