@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Box Provisioning App</h1>
    <div>
        <ul style="list-style:none">
            <li>
                <a class="btn btn-primary" asp-area="" asp-controller="RemoveAccounts" asp-action="Index">Remove Inactive Accounts</a>
            </li>
            <li>
                <a class="btn btn-primary" asp-area="" asp-controller="CreateAccounts" asp-action="Index">Create Accounts</a>
            </li>
            <li>
                <a class="btn btn-primary" asp-area="" asp-controller="BoxADUpdates" asp-action="PotentialUpdates">Update Accounts</a>
            </li>
        </ul>
    </div>
    <img src="~/images/boxlogo.png" alt="Box Icon" style="width:50%;height:50%" />
</div>
