@model BoxApplication.Models.ActiveDirectoryUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ActiveDirectoryUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ADEmail" />
            <div class="form-group">
                <label asp-for="ADUsername" class="control-label"></label>
                <input asp-for="ADUsername" class="form-control" />
                <span asp-validation-for="ADUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ADFirstName" class="control-label"></label>
                <input asp-for="ADFirstName" class="form-control" />
                <span asp-validation-for="ADFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ADStatus" class="control-label"></label>
                <input asp-for="ADStatus" class="form-control" />
                <span asp-validation-for="ADStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ADDateInactive" class="control-label"></label>
                <input asp-for="ADDateInactive" class="form-control" />
                <span asp-validation-for="ADDateInactive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
