@model BoxApplication.Models.BoxADUpdate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BoxADUpdate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BoxADUpdateID" />
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UpdateBoxOption" /> @Html.DisplayNameFor(model => model.UpdateBoxOption)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ADFieldChanged" class="control-label"></label>
                <input asp-for="ADFieldChanged" class="form-control" />
                <span asp-validation-for="ADFieldChanged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxPreviousData" class="control-label"></label>
                <input asp-for="BoxPreviousData" class="form-control" />
                <span asp-validation-for="BoxPreviousData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ADNewData" class="control-label"></label>
                <input asp-for="ADNewData" class="form-control" />
                <span asp-validation-for="ADNewData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
